/*========FONT========*/
html{
	font-size: 16px;
}

@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

/*========BODY========*/
body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
}

/*========CONTENT CONTAINER========*/
.container{

}

/*========TEXT PROPERTIES=========*/
h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875;
	line-height: 21px;
    padding: 0 30px;
}

/*========HEADER========*/
header{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	text-align: center;
}

header h1 {
	border-bottom: 3px #77a466 solid;
	padding: 22px 0;
	margin: 0;
	flex: 0 0 100%;
}

header h1 span {
	color: #77a466;
}

/*=========NAVIGATION========*/
header nav {
	padding: 0;
}

header nav ul {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 0;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	list-style-type: none;
	width: 100%;
	padding: 7px 0;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*========SECTION PARENTS========*/
.top-section,
.bottom-section {

}

/*========MAIN IMAGE========*/
.main-image img {
	width: 100%;
	border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
}

/*========MAIN TITLE=======*/
.main-title h3 {
	line-height: 1.4em;
	text-align: center;
	padding: 5px 0;
	margin: 18px 10px;
	color: #77a466;
}
.main-title p {
	padding: 0;
	margin: 18px 10px;
	font-size: 1em;
	line-height: 25px;
}

/*========SECTION STYLING=======*/
.section-one,
.section-two,
.section-three {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.section-one h4,
.section-two h4,
.section-three h4 {
	padding: 10px 30px;
	text-align: center;
}

/*========MENU========*/
.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 28px;
	color:#77a466;
}

/*========REVIEWS========*/
.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

/*========ADDRESS========*/
.address {
	font-size: 1em;
	line-height: 24px;
}

/*========FOOTER========*/
footer {
	border-top: 3px solid #eee;
	text-align: center;
}

footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

/*=============BREAK POINTS==================*/

/*============Tablet===========*/
@media all and (min-width: 768px){

}
/*============Desktop==========*/
@media all and (min-width: 1200px){

	header nav {
		padding: 46px 0;
	}
	header nav ul {
		margin: 0;
		padding: 0;
	}
}